<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Portfolio</title>
    <link href="https://fonts.googleapis.com/css?family=Rubik:700|Work+Sans" rel="stylesheet">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="portfolio/portfolio.css">
  </head>

  <body>

    <header>
      <% if @francais %>
        <a href="./en" class="button">EN</a>
      <% else %>
        <a href="./fr" class="button">FR</a>
      <% end %>
    </header>

    <div class="pale" id="about">

      <h1><%= language[3] %></h1>

      <section class="intro">
        <svg class="avatar" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300">
          <clipPath id="clipCircle">
            <circle r="150" cx="150" cy="150"/>
          </clipPath>
            <image xlink:href="https://avatars3.githubusercontent.com/u/17624513?s=400&v=4"
             width="100%" height="100%" x="0" y="0"
            clip-path="url(#clipCircle)"/>
            <circle r="148" cx="150" cy="150" stroke="white" stroke-width="4" fill="none"/>
        </svg>

        <section class="social-wrap">
          <a href="https://medium.com/@schatell" target="_blank">
            <img class="logo" src="portfolio/medium-m-2.svg" alt="me on medium">
          </a>

          <a href="https://twitter.com/Schatblanc" target="_blank">
            <img class="logo" src="portfolio/Twitter_bird_logo_2012.svg" alt="me on twitter">
          </a>

          <a href="https://github.com/schatell/" target="_blank">
            <img class="logo" src="portfolio/github.svg" alt="me on github">
          </a>

          <a href="https://www.linkedin.com/in/sebastien-chatelle-blanchard-a5a3b4137/" target="_blank">
            <img class="logo" src="portfolio/linkedin.svg" alt="me on LinkedIn">
          </a>

          <a href="https://codepen.io/schatell/" target="_blank">
            <img class="logo" src="portfolio/codepen.png" alt="me on CodePen">
          </a>

        </section>
      </section>

      <section class="presentation">
        <h2><%= language[4] %></h2>
        <p><%= language[5] %></p>
        <p><%= language[6] %></p>
        <h2><%= language[7] %></h2>
        <h4>sebastien.chatelle.blanchard@gmail.com</h4>
      </section>

    </div>

    <div class="dark" id="projects">
      <h1><%= language[8] %></h1>

      <section class="project-wrap">

        <a href="/band" class="project">
          <section class="card-top">
            <img class="desktop" src="portfolio/screen.svg" alt="screen svg">
            <img class="desktop-screenshot" src="portfolio/banddesktop.png" alt="screenshot of desktop site">
            <img class="phone" src="portfolio/phone.svg" alt="phone svg">
            <img class="phone-screenshot"src="portfolio/bandphone.png" alt="screenshot of mobile site">
            <h2> <%= project[0][0] %> </h2>
          </section>
          <p><%= project[0][1] %></p>
        </a>

        <a href="travel" class="project">
          <section class="card-top">
            <img class="desktop" src="portfolio/screen.svg" alt="screen svg">
            <img class="desktop-screenshot" src="portfolio/traveldesktop.png" alt="screenshot of desktop site">
            <img class="phone" src="portfolio/phone.svg" alt="phone svg">
            <img class="phone-screenshot"src="portfolio/travelphone.png" alt="screenshot of mobile site">
            <h2> <%= project[1][0] %> </h2>
          </section>
          <p><%= project[1][1] %></p>
        </a>


      </section>
    </div>

    <div class="pale" id="skills">
      <h1><%= language[9] %></h1>

      <section class="skill-wrap">
        <ol>
          <li>Html5, ERB</li><progress value="90" max="100">90%</progress>
          <li>Css, Sass, Flex, Grid</li><progress value="80" max="100">80%</progress>
          <li>SVG</li><progress value="70" max="100">0%</progress>
          <li>Javascript, VueJS</li><progress value="50" max="100">0%</progress>
          <li>Ruby, Rails, Sinatra</li><progress value="40" max="100">0%</progress>
        </ol>
      </section>


      <section class="presentation">
        <h2><%= language[7] %></h2>
        <h4>sebastien.chatelle.blanchard@gmail.com</h4>
      </section>

    </div>

    <footer>
      <p>Copyright: Sebastien Chatelle Blanchard</p>
      <p>sebastien.chatelle.blanchard@gmail.com</p>
    </footer>

  </body>

</html>
